<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvaf4uC2aA3E2HsPMVDYr8cjVly1D8HMo</string>
	<key>GCM_SENDER_ID</key>
	<string>151519546137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskPlannerAgevole</string>
	<key>PROJECT_ID</key>
	<string>task-planner-agevole</string>
	<key>STORAGE_BUCKET</key>
	<string>task-planner-agevole.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151519546137:ios:44b882913d9469655e1388</string>
	<key>DATABASE_URL</key>
	<string>https://task-planner-agevole-default-rtdb.firebaseio.com</string>
</dict>
</plist>